<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12"></div>
      <div class="col-xs-6">
        <img src="" alt="" style="max-height: 150px;">
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-sm btn-primary" style="margin-left: 5px;">Edit</button>
        <button type="button" class="btn btn-sm btn-danger" style="margin-left: 5px;">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <b>Email: </b>
      <br />
      <b>Phone: </b>
    </p>
  </div>
</div>
