<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ contact.name }}</h1>
      </div>
      <div class="col-xs-12 middle-align">
        <div class="pull-left">
          <img
            [src]="contact.imageUrl"
            alt="{{ contact.name }}"
            style="max-height: 150px"
          />
        </div>
        <div class="pull-right">
          <a routerLink="edit" routerLinkActive="active" class="btn btn-sm btn-primary" style="margin-left: 5px; cursor: pointer;"> Edit </a>
          <a (click)="onDelete()" class="btn btn-sm btn-danger" style="margin-left: 5px; cursor: pointer;"> Delete </a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <b>Email: {{ contact.email }}</b>
      <br />
      <b>Phone: {{ contact.phone }}</b>
      <br />
      <b>Contacts in Team:</b>
    </p>
    <div class="row">
      <div class="col-xs-12">
        <cms-contact-item
          *ngFor="let item of contact.group"
          [contact]="item"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>
